.selection-container {
  .delete {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 16px;
    font-size: 10px;
    font-weight: 600;
    color: ivory;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
    &:after {
      content: 'X';
    }
  }

  .dropdown-selection-content {
    &.writable {
      position: relative;
      background-color: transparent;
      height: 100%;

      input {
        background-color: transparent;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
        opacity: 0;

        &.display {
          opacity: 1;
        }
      }

      .dropdown-selection-label {
        position: absolute;
        top: 0;
        background-color: transparent;
        height: 100%;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        display: none;

        border: 0;
        padding: 0;
        margin: none;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;

        &:focus {
          outline: none;
        }

        &.display {
          display: block;
        }
      }
    }
  }
}
