$scrollbarMaxSize: calc(100% - 16px);
$scrollbarSize: calc(100% - 32px);
$scrollbarRef: 16px;

$lightColor: #eeeeee;
$mediumColor: #bcbcbc;
$hightColor: #999999;

@mixin preventSelect() {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.react-scrollable-ex {
  position: relative;
  width: 100%;
  height: 100%;
  &:focus {
    outline: none;
  }

  .react-scrollbar-ex {
    @include preventSelect();
    display: flex;

    &.horizontal {
      flex-direction: row;
      position: absolute;
      bottom: 0;
      width: $scrollbarMaxSize;
      height: $scrollbarRef;
    }

    &.vertical {
      position: absolute;
      flex-direction: column;
      top: 0;
      right: 0;
      height: $scrollbarMaxSize;
      width: $scrollbarRef;
    }

    .react-scrollbar-ex-button-container {
      width: $scrollbarRef;
      height: $scrollbarRef;
      background-color: $lightColor;

      .react-scrollbar-ex-button {
        fill: black;
        &.disabled {
          fill: $mediumColor;
        }
      }

      &.disabled {
        .arrow {
          border-right: solid $mediumColor;
          border-bottom: solid $mediumColor;
        }
      }

      &:hover {
        background-color: $mediumColor;
        &.disabled {
          background-color: $lightColor;
        }
      }
    }

    .react-scrollbar-ex-content {
      background-color: $lightColor;
      &.vertical {
        height: $scrollbarSize;
      }

      &.horizontal {
        width: $scrollbarSize;
      }

      .react-scrollbar-ex-track {
        background-color: $mediumColor;

        &.vertical {
          margin-left: 2px;
          width: calc(100% - 4px);
        }

        &.horizontal {
          margin-top: 2px;
          height: calc(100% - 4px);
        }

        &:hover,
        &.drag {
          background-color: $hightColor;
        }
      }
    }
  }

  .scrollabe-ex-corner {
    position: absolute;
    right: 0;
    bottom: 0;
    border: solid 1px $mediumColor;
    width: 14px;
    height: 14px;
    background-color: $lightColor;
  }
}
