$scrollbarBgColor: rgba(100, 120, 90, 0.4);
$scrollbarTrackBgColor: rgba(52, 158, 19, 0.6);
$scrollbarSize: 12px;

.react-scrollable-container {
  &:focus {
    outline: none;
  }
  .react-scrollbar {
    position: absolute;
    display: inline-block;
    z-index: 1;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    &.vertical {
      width: $scrollbarSize;
      right: 0;
      height: calc(100% - 12px);
      background-color: $scrollbarBgColor;

      &.hidden {
        width: 0;
      }
    }

    &.horizontal {
      width: calc(100% - 12px);
      bottom: 0;
      height: $scrollbarSize;
      background-color: transparent;

      &.hidden {
        height: 0;
      }

      &:hover,
      &.on-drag {
        background-color: $scrollbarBgColor;
        .react-scrollbar-track {
          background-color: $scrollbarTrackBgColor;
        }
      }
    }
    /* TRACK */
    .react-scrollbar-track {
      &.vertical {
        background-color: $scrollbarTrackBgColor;
        width: 100%; 
      }

      &.horizontal {
        background-color: transparent;
        height: 100%;

        &:hover,
        &.on-drag {
          background-color: $scrollbarTrackBgColor;
        }
      }
    }
  }
}
