$scrollbarBgColor: rgba(100, 120, 90, 0.6);
$scrollbarTrackBgColor: rgba(247, 229, 75, 0.6);
$scrollbarSize: 12px;

.react-scrollable-container {
  .react-scrollbar {
    position: absolute;
    display: inline-block;

    &.vertical {
      width: $scrollbarSize;
      right: 0;
      height: calc(100% - 12px);
      background-color: $scrollbarBgColor;

      &.hidden {
        width: 0;
      }
    }

    &.horizontal {
      width: calc(100% - 12px);
      bottom: 0;
      height: $scrollbarSize;
      background-color: transparent;

      &.hidden {
        height: 0;
      }

      &:hover, &.on-drag   {
        background-color: $scrollbarBgColor;
      }
    }
    /* TRACK */
    .react-scrollbar-track {
      &.vertical {
        background-color: $scrollbarTrackBgColor;
        width: 100%;
      }

      &.horizontal {
        background-color: transparent;
        height: 100%;

        &:hover, &.on-drag  {
          background-color: $scrollbarTrackBgColor;
        }
      }
    }
  }
}
