.react-large-dropdown-container {
  position: relative;


  .react-large-dropdown {
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 0;

    &.focused {
      z-index: 1;
    }
    /* */
    .selection-container {
      width: 100%;
      height: max-content;

      .dropdown-selection-content {
        &.writable {
        }
      }
    }

    /* */
    .panel-container {
      width: 100%;

      ul,
      li,
      div,
      span {
        margin: 0;
        padding: 0;
        border: none;
        line-height: 1em;
        list-style: none;
      }

      .panel-content {
        width: 100%;
        height: 250px;
        display: none;

        &.expended {
          display: block;
        }

        .dropdown-options-list {
          ul {
            width: calc(100% - 16px);
            height: calc(100% - 16px);

            &:focus {
              outline: none;
            }

            .dropdown-list-item {
              white-space: nowrap;
              overflow: hidden;
              width: max-content;

              &.active {
                &.selected {
                }
              }

              &.selected {
              }
              .dropdown-item {
              }
            }
          }
        }
      }
    }
  }
}
