/* */
$primaryColor: DarkRed;
$secondaryColor: DarkOrange;
$highlightColor: gold;
$sizeBar: 8px;
$padding: 2px;
$refBar: calc(100% + 6px);
$refBarButton: calc(100% - 16px);

.react-scrollable-ex {
  &.cubik-without-button {
    .react-scrollbar-ex {
      padding: $padding $padding;
      background-color: $primaryColor;
      &.horizontal {
        height: $sizeBar;
        width: $refBar;
      }
      &.vertical {
        height: $refBar;
        width: $sizeBar;
      }

      /* BUTTON */
      .react-scrollbar-ex-button-container {
        width: 0;
        height: 0;
        display: none;
      }

      /* */
      .react-scrollbar-ex-content {
        width: $sizeBar;
        height: $sizeBar;
        background-color: $primaryColor;
        .react-scrollbar-ex-track {
          &.horizontal,
          &.vertical {
            width: 100%;
            height: 100%;
            margin: 0;
            background-color: $secondaryColor;
            &:hover,
            &.drag {
              background-color: $highlightColor;
            }
          }
        }
      }
    }

    /* */
    .scrollabe-ex-corner {
      background-color: $secondaryColor;
      width: $sizeBar;
      height: $sizeBar;
      border: none;
      margin: $padding $padding;
    }
  }

  /** WITH BUTTON */
  &.cubik-with-button {
    @extend .cubik-without-button;
    
    .react-scrollbar-ex {
        padding: $padding $padding;
      &.horizontal {
        height: 8px;
        width: calc(100% - 14px);        
      }
      &.vertical {
        height: calc(100% - 14px);
        width: 8px;
      }
      /* BUTTON */
      .react-scrollbar-ex-button-container {
        width: $sizeBar;
        height: $sizeBar;
        display: block;
        background-color: $secondaryColor;

        &.left {
            margin-right: $padding;
        }
        &.right {
            margin-left: $padding;
        }

        &.top {
            margin-bottom: $padding;
        }
        &.bottom {
            margin-top: $padding;
        }

        .react-scrollbar-ex-button{ 
            height: 8px;
            width: 8px;
            line-height: 6px;
            fill: black;
            &.disabled {
                fill: snow;
                &:hover {
                    background-color: $secondaryColor;
                }
            }

            &:hover {
                background-color: $highlightColor;
            }
        }
      }
    }

    .scrollabe-ex-corner {
        background-color: $secondaryColor;
        width: $sizeBar;
        height: $sizeBar;
        border: 2px solid $primaryColor;
        margin: 0;
      }
  }
}
