$trackBgColor: rgba(47, 79, 79, 0.5);
$trackBgColorHover: DarkSlateGray;
$headerBgColor: tomato;
$headerColor: darkred;
$rowColorEven: honeydew;
$rowColorOdd: lightblue;
$boxShadowColor: black;

.custom-large-table-theme {
  background-color: black;

  /* Column dragger */
  .dragger {
    opacity: 0.4;
    margin-left: -1px;
    border-right: solid 1px black;
    .th-dragger {
      background-color: $headerBgColor;
      border-bottom: thick double $trackBgColorHover;
      color: $headerColor;
      border-left: solid 1px black;
      height: calc(100% - 5px);
      width: calc(100% - 1px);
      display: block;
      line-height: 28px;
      text-align: center;
      font-weight: 700;
    }
  }

  /* Table */
  thead {
    background-color: $headerBgColor;
    box-shadow: 2px 0 6px 0 $boxShadowColor;
    th {
      .th-el-container {
        margin-top: 0;
        display: block;
        height: calc(100% - 5px);
        width: calc(100% - 1px);
        border-right: solid 1px black;
        border-bottom: thick double $trackBgColorHover;
        background-color: transparent;
        color: $headerColor;
        line-height: 28px;
      }

      .drag-column-indicator {
        width: 4px;
        background-color: rgba(184, 161, 32, 0.774);
      }
    }
  }

  tbody {
    tr {
      &.odd {
        background-color: $rowColorEven;
      }

      &.even {
        background-color: $rowColorOdd;
      }

      td {
        .custom-cell-renderer {
          border-right: dotted 1px black;
          border-bottom: solid 1px black;
          height: calc(100% - 1px);
          width: calc(100% - 6px);
        }
      }
    }
  }

  .react-scrollable-container {
    .react-scrollbar {
      &.vertical {
        height: calc(100% - 62px);
        margin-top: 50px;
      }
    }
  }

  /* ROW-NUMS */
  .row-nums {
    border-right: thick double $trackBgColorHover;
    min-width: 65px;
    max-width: 65px;
    background-color: $headerBgColor;
    box-shadow: 2px 0 6px -2px $boxShadowColor;
    z-index: 2;

    .header-corner-container {
      top: 0;

      .header-corner {
        height: calc(100% - 5px);
        width: 100%;
        background-color: $headerBgColor;
        border-bottom: thick double $trackBgColorHover;
      }
    }
    .row-nums-body {
      background-color: $headerBgColor;

      .row-container {
        .row {
          border-bottom: solid 1px black;
          color: $headerColor;
          text-align: center;
          line-height: normal;
          lighting-color: honeydew;
          height: calc(100% - 1px);
          width: calc(100%);
        }
      }
    }
  }

  /* */
  .react-scrollable-container {
    .react-scrollbar {
      &.vertical {
      }

      &.horizontal {
        &:hover {
          .react-scrollbar-track {
            &.horizontal {
              background-color: $trackBgColor;
              &:hover,
              &.on-drag {
                background-color: $trackBgColorHover;
              }
            }
          }
        }
      }

      .react-scrollbar-track {
        &.vertical {
          background-color: $trackBgColor;
          &:hover,
          &.on-drag {
            background-color: $trackBgColorHover;
          }
        }

        &.horizontal {
          &:hover,
          &.on-drag {
            background-color: $trackBgColorHover;
          }
        }
      }
    }
  }
}

.default-table-container {
  width: 100%;
  height: 85vh;
  min-width: 50px;
  min-height: 50px;
  overflow: hidden;
  resize: both;

  background-color: lightgoldenrodyellow;

  &.focused {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
}
