$selectionHeight: 30px;

.custom-dropdown {
  height: $selectionHeight;
  width: 300px;

  .react-large-dropdown {
    border: solid 2px blue;
    border-radius: 8px 8px;

    &.focused {
      box-shadow: 0 -3px 8px gray, -3px 0 8px gray, 0 3px 8px gray,
        3px 0 8px gray;
    }

    .selection-container {
      height: $selectionHeight;

      .dropdown-selection-content {
        background-color: ivory;
        border-radius: 8px 8px;
        padding: 0 4px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 600;

        &.writable {
          .dropdown-selection-label,
          input {
            background-color: transparent;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 600;
          }
          .dropdown-selection-label {
            &.display {
              background-color: ivory;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }

    /* */
    .panel-container {
      .panel-content {
        border-radius: 0 0 8px 8px;
        background-color: ivory;
        overflow: hidden;
        &.expended {
        }

        .dropdown-options-list {
          .dropdown-list-item {
            &.selected {
              background-color: goldenrod;
            }
            .dropdown-item {
            }
          }
        }

        .scrollabe-ex-corner {
          border: solid 1px #bcbcbc;
        }
      }
    }
  }
}


/* Custom item renderer */
.dropdown-custom-item-renderer {
  line-height: 26px;
  margin-left: 4px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;

}
