$trackBgColor: rgba(58, 33, 160, 0.5);
$trackBgColorHover: darkblue;

.custom-large-table-theme {
  background-color: khaki;
  thead {
    padding-bottom: 2px;
    background-color: saddlebrown;
    th {
      border-right: solid 1px black; 
       border-bottom: thick double darkblue;
      background-color: transparent;
      color: bisque;
      line-height: 28px;
      
    }
  }

  tbody {
    td {
      border-right: dotted 1px black;
      border-bottom: solid 1px black;
      height: calc(100% - 1px);
    }
  }

  .react-scrollable-container {
    .react-scrollbar {
      &.vertical {
        height: calc(100% - 43px);
        margin-top: 31px;
      }
    }
  }

  /* */
  .row-nums {
    .header-corner-container {
      top: 0;
      border-bottom: thick double darkblue;
      border-right: thick double darkblue;
      width: calc(100% - 5px);
      .header-corner {
        background-color: saddlebrown;
      }
    }
    // padding-top: 1px;
    .rows {
      .container {
        .nums {
          border-bottom: solid 1px black;
          border-right: thick double darkblue;
          font-family: "Lucida Console", Monaco, monospace;
          font-size: 12px;
          padding-left: 3px;
          display: inline-block;
          height: calc(100% - 1px);
          width: calc(100% - 8px);
        }
      }
    }
  }

  /*  */
  .custom-cell-renderer {
    display: inline-block;
    width: calc(100% - 5px);
    text-align: left;
    padding-right: 5px;

    &.string {
      text-align: center;
    }

    &.number {
      text-align: right;
    }

    &.euro {
      text-align: right;
      font-weight: bold;
      font-family: "Lucida Console", Monaco, monospace;
      color: darkred;
      font-size: 12px;
      &::after {
        content: " €";
      }
    }

    &.row-num {
      color: dodgerblue;
      text-align: right;
      font-family: "Lucida Console", Monaco, monospace;
      font-size: 14px;
    }

    &.sentence {
      text-align: left;
      font-style: italic;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      color: darkslategray;
    }
  }

  /* */
  .react-scrollable-container {
    .react-scrollbar {
      &.vertical {
      }

      &.horizontal {
        &:hover {
          .react-scrollbar-track {
            &.horizontal {
              background-color: $trackBgColor;
              &:hover,
              &.on-drag {
                background-color: $trackBgColorHover;
              }
            }
          }
        }
      }

      .react-scrollbar-track {
        &.vertical {
          background-color: $trackBgColor;
          &:hover,
          &.on-drag {
            background-color: $trackBgColorHover;
          }
        }

        &.horizontal {
          background-color: transparent;
          &:hover,
          &.on-drag {
            background-color: $trackBgColorHover;
          }
        }
      }
    }
  }
}

.default-table-container {
  width: 400px;
  height: 300px;

  overflow: hidden;
  resize: both;
}