.react-large-list-container {
    display:  block;
    width: 400px;
    height: 300px;
    min-width: 50px;
    min-height: 50px;
    background-color: khaki;
    overflow: hidden;
    resize: both;

    font-family: monospace;
    font-size: 18px;
}