.react-large-list-container {
    display:  block;
    width: 600px;
    height: 400px;
    background-color: khaki;
    overflow: hidden;
    resize: both;

    font-family: monospace;
    font-size: 18px;
}