.react-large-table {
  /*  */
  .custom-cell-renderer {
    display: block;
    text-align: left;
    padding-right: 5px;
    // border-right: dotted 1px black;
    // border-bottom: solid 1px black;
    // height: calc(100% - 1px);
    // width: calc(100% - 6px);

    &.string {
      text-align: center;
    }

    &.number {
      text-align: right;
    }

    &.euro {
      text-align: right;
      font-weight: bold;
      font-family: "Lucida Console", Monaco, monospace;
      color: darkred;
      font-size: 12px;
      &::after {
        content: " €";
      }
    }

    &.row-num {
      color: dodgerblue;
      text-align: right;
      font-family: "Lucida Console", Monaco, monospace;
      font-size: 14px;
    }

    &.sentence {
      text-align: left;
      font-style: italic;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      color: darkslategray;
    }
  }
}
