$trackBgColor: rgba(47, 79, 79, 0.5);
$trackBgColorHover: DarkSlateGray;
$headerBgColor: Sienna;

.custom-large-table-theme {
  background-color: khaki;
  thead {
    background-color: $headerBgColor;
    th {
      .th-el-container {
        margin-top: 0;
        display: block;
        height: calc(100% - 5px);
        width: calc(100% - 1px);
        border-right: solid 1px black;
        border-bottom: thick double $trackBgColorHover;
        background-color: transparent;
        color: bisque;
        line-height: 28px;
      }
    }
  }

  tbody {
    tr {
      &.odd {
        background-color: DarkKhaki;
      }

      td {
        .custom-cell-renderer {
          border-right: dotted 1px black;
          border-bottom: solid 1px black;
          height: calc(100% - 1px);
          width: calc(100% - 6px);
        }
      }
    }
  }

  .react-scrollable-container {
    .react-scrollbar {
      &.vertical {
        height: calc(100% - 62px);
        margin-top: 50px;
      }
    }
  }

  /* */
  .row-nums {
    min-width: 70px;
    max-width: 70px;
    .header-corner-container {
      top: 0;

      .header-corner {
        height: calc(100% - 5px);
        width: 100%;
        background-color: $headerBgColor;
        border-bottom: thick double $trackBgColorHover;
        border-right: thick double $trackBgColorHover;
        width: calc(100% - 5px);
      }
    }
    // padding-top: 1px;
    .row-nums-body {
      background-color: Peru;
      .row-container {
        border-right: thick double $trackBgColorHover;

        .row {
          border-bottom: solid 1px black;
          color: PaleGoldenRod;
          height: calc(100% - 1px);
          width: calc(100%);
        }
      }
    }
  }

  /* */
  .react-scrollable-container {
    .react-scrollbar {
      &.vertical {
      }

      &.horizontal {
        &:hover {
          .react-scrollbar-track {
            &.horizontal {
              background-color: $trackBgColor;
              &:hover,
              &.on-drag {
                background-color: $trackBgColorHover;
              }
            }
          }
        }
      }

      .react-scrollbar-track {
        &.vertical {
          background-color: $trackBgColor;
          &:hover,
          &.on-drag {
            background-color: $trackBgColorHover;
          }
        }

        &.horizontal {
          &:hover,
          &.on-drag {
            background-color: $trackBgColorHover;
          }
        }
      }
    }
  }
}

.default-table-container {
  // width: 400px;
  // height: 300px;
  width: 100%;
  height: 90vh;

  overflow: hidden;
  resize: both;

  background-color: lightgoldenrodyellow;
}
