$selectionHeight: 30px;

.custom-dropdown {
  height: $selectionHeight;
  width: 300px;

  .react-large-dropdown {
    border: solid 2px blue;
    border-radius: 8px 8px;

    &.focused {
      box-shadow: 0 -3px 8px gray, -3px 0 8px gray, 0 3px 8px gray,
        3px 0 8px gray;
    }

    .selection-container {
      height: $selectionHeight;

      .dropdown-selection-content {
        background-color: ivory;
        border-radius: 8px 8px;
        padding: 0 4px;
        &.writable {
        }
      }
    }

    /* */
    .panel-container {
      .panel-content {
        border-radius: 0 0 8px 8px;
        background-color: ivory;
        overflow: hidden;
        &.expended {
        }

        .scrollabe-ex-corner {
          border: solid 1px #bcbcbc;
        }
      }
    }
  }
}
