.large-text-container {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;

  .react-large-text {
  
    background-color: khaki;
    width: 400px;
    height: 300px;

    overflow: hidden;
    resize: both;
    line-height: 22px;
    font-size: 18px;

    padding: 10px 10px;
    border-radius: 10px;
    border: solid 1px transparent;
    &:focus-within {
      border: solid 1px saddlebrown;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .content {
      .line {
        width: 100%;
        text-align: justify;
      }
    }
  }
}

.simple-scrollable-example-container {
  height: 300px;
  width: 400px;
  overflow: hidden;
  resize: both;
}

.simple-scrollable-example {
  height: 300px;
  width: 400px;
  display: inline-block;
  resize: both;
  overflow: hidden;

  background-color: powderblue;
}

.toolbar {
  padding: 5px 8px;
  .fab {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 18px;
    color: snow;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 0;
    margin: 4px 4px 0 0;
    outline: none;
    background-color: royalblue;
    &:hover {
      background-color: gold;
      color: black;
    }
  }
}

.scrollable-content-example {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
}
