.react-large-table {
  .react-large-table-track {
    position: absolute;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    &.vertical {
      z-index: 1;
      display: inline-block;
      background-color: transparent;
      height: 100%;
      cursor: col-resize;
      width: 6px;

      &.left {
      }

      &.right {
        right: 0;
      }
    }
    &.horizontal {
      z-index: 1;
      display: inline-block;
      background-color: transparent;
      height: 6px;
      cursor: row-resize;
      width: 100%;
      &.top {
      }

      &.bottom {
        bottom: 0;
        left: 0;
      }
    }

    .track-bar {
      &.vertical {
        position: fixed;
        display: block;
        top: 0;
        height: 100%;
        border-right: solid 2px fuchsia;
      }

      &.horizontal {
        position: fixed;        
        width: 100%;
        border-top: solid 2px fuchsia;
        left: 0;
      }
    }
  }
}
