.react-large-table {
  .row-nums {
    height: 100%;

    background-color: transparent;
    .header-corner-container {
      overflow: hidden;
      width: 100%;

      .header-corner {
      }
    }
    .row-nums-body {
      overflow: hidden;
      .row-nums-list {
        .row-container {
          .row {
            line-height: normal;
          }
        }
      }
    }
  }
}
