.custom-large-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  background-color: khaki;

  width: 400px;
  height: 300px;

  overflow: hidden;
  resize: both;

  padding: 10px 10px;
  border-radius: 10px;

  &:focus-within {
    border: solid 1px saddlebrown;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
}
