.react-large-list {
  height: 100%;
  width: 100%;

  &.focused {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }

  ul,
  li,
  div,
  span {
    margin: 0;
    padding: 0;
    border: none;
    line-height: 1em;
    list-style: none;
  }

  ul li {
    width: fit-content;
    .default-item-renderer {
      display: block;
      background-color: lavender;
      width: 100%;
      height: calc(100% - 1px);
      border-bottom: solid 1px lightblue;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
