.react-large-list { 

  &.focused {
    box-shadow: 0 0 0 0.2em blue,
      -5px -5px 5px black,
      5px -5px 5px black, -5px 5px 5px black,
      5px 5px 5px black;
  }

  ul,
  li,
  div,
  span {
    margin: 0;
    padding: 0;
    border: none;
    line-height: 1em;
    list-style: none;
  }

  ul {
    li {
      width: fit-content;
      .default-item-renderer {
        display: block;
        background-color: lavender;
        white-space: nowrap;
      }
    }
  }
}
